/* start styles */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&family=VT323&display=swap");

body {
  margin: 0;
  background: #444;
  font-family: "Poppins";
}
li,
ul {
  list-style-type: none;
  padding: 0;
  color: white;
}
main {
  padding: 140px 40px 40px;
  color: #bbb;
}

/* solution styles */
header {
  display: flex;
  justify-content: space-between;
}

h3 {
  color: white;
  font-weight: 800;
  font-size: 40px;
  margin-right: 20px;
}

nav {
  background-color: black;
  display: block;
  width: 200px;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 0;
  opacity: 0;
  left: -200px;
}

nav > ul {
  padding-top: 150px;
}

nav.show {
  left: 0px;
  opacity: 1;
}

ul > li {
  padding-left: 30px;
  padding-bottom: 20px;
  font-size: 25px;
}

.burger {
  margin: 50px 20px;
  z-index: 1;
}

.burger > span {
  background-color: white;
  width: 35px;
  height: 5px;
  margin-bottom: 5px;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.burger.show span:nth-child(1) {
  transform: rotate(45deg) translateY(7px);
}

.burger.show span:nth-child(2) {
  display: none;
}

.burger.show span:nth-child(3) {
  transform: rotate(-45deg) translateY(-7px);
}

/* transitions */

nav {
  transition: left ease-in 0.3s;
}

.burger span {
  transition: all ease-in 0.3s;
}
